.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#calculator {
  width: 1000px;
  height: auto;
  background-color: #eaeaea;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  margin: 20px auto;
}

.inner {
  padding: 20px;
}
